*
!*.v
!*.sv
!*.qsys
!*.qsf
!*.sdc
!*.qpf
!*.vhd
!*.tcl
!.gitignore
!TODO
!*.c
!*.h
!*.py
!*.mem
#!**/software/**

!*/

**/synth_bsp/
**/synthesizer_bsp/
.metadata/
soc/
synthesis/
submodules/
db/
incremental_db/
simulation/
output_files/
